---
- hosts: "*"
  become: true
  tasks:
  - name: update repository index and install apache & php
    apt:
      # yamllint disable-line rule:truthy
      update_cache: yes
      name:
        - apache2
        - libapache2-mod-php
      state: present
# when: ansible_distribution == "ubuntu"
