# workflow to check yaml syntax
# 

name: yamllint-github-actions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  yamllint:
    name: 'Yamllint'
    runs-on: ubuntu-latest
    
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
      
      - name: Yamllint Github Action
        uses: karancode/yamllint-github-action@v2.0.0
        with:
          yamllint_file_or_dir: 'playbooks/.'
          yamllint_strict: false
          yamllint_comment: false
        #env:
          #GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}          
