# workflow to check yaml syntax
# 

name: yamllint-github-actions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  yamllint:
    name: 'Yamllint'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./playbooks
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: 'Yamllint'
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_file_or_dir: .
          yamllint_strict: false
          yamllint_comment: false
        #env:
          #GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}          
